<form action="{{ path('tasks_delete', {id: task.id}) }}" method="POST" onsubmit="return confirm('Tem certeza que deseja apagar?')">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger">Apagar Tarefa</button>
</form>