{% extends "base.html.twig" %}

{% block title %}
    Alterar a tarefa {{ task.id }}
{% endblock %}

{% block body %}
  <h1>Alterar a tarefa {{ task.id }}</h1>

  {{ include("tasks/_form.html.twig") }}
{% endblock %}